openapi: 3.0.0
info:
  version: 1.0.0
  title: RBKmoney Notification API
  description:
    $ref: './docs/api.md'
  termsOfService: http://rbk.money/
  contact:
    name: RBKmoney support team
    email: support@rbk.money
    url: 'https://developer.rbk.money'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: 'https://{subdomain}.rbk.money/notify/{version}'
    variables:
      subdomain:
        default: api
      version:
        enum:
          - v1
        default: v1
security:
  - bearer: []
paths:
  /notification:
    $ref: ./paths/notification.yaml
  '/notification/{id}':
    $ref: './paths/notification@{id}.yaml'
  '/notification/remove':
    $ref: './paths/notificationDelete.yaml'
  '/notification/mark':
    $ref: './paths/notificationMark.yaml'
  '/notification/mark/all':
    $ref: './paths/notificationMarkAll.yaml'
components:
  securitySchemes:
    bearer:
      $ref: './components/security-schemes/Bearer.yaml'
